.transcription {
	font-family: BBAWLibertine;
}

div#container {
	margin-top: -30px;
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: white;
	min-height: 600px;
}

div#container div#breadcrumbs {
	margin: 0;
	padding: 0;
}

div#container div#breadcrumbs ul {
	list-style-type: none;
	font-size: 10px;
	margin: 0;
	margin-top: 20px;
	padding: 0;
}

div#container div#breadcrumbs ul li {
	float: left;
	margin: 5px 5px 0px 5px;
	color: #555;
}

div#container div#content {
	width: 80%;
	margin: auto;
	padding: 20px 0px 0px 0px;
}


div#container div.stuff {
	width: 69%;
	float: left;
}

div#container h3 {
	margin-bottom: 0;
}

div#container hr {
	margin: 0;
}

div#container div.search-form-container table tr td {
	padding: 10px;
}

div#container div.search-form-container .encoding {
	font-size: 10px;
}


div#container div.search-form-container table tr:nth-child(even) {
	background-color: #ddd;
}

div#container div#content div div.search-form-container table tbody tr td.encoding input {
	font-family: BBAWLibertine; /* why */
}

div.stuff div.details-container {
	padding: 5px;
	border-bottom: 1px solid #bbb;
	font-size: 12px;
}

div.details-container span {
	margin: 3px 1px 3px 1px;
}





div#container div.sidebar {
	width: 29%;
	padding: 10px 5px 0px 5px;
	margin-left: 69%;
}

div.sidebar .sidebar-button {
	margin: 5px;
	width: 100%;
}

div.sidebar button.sidebar-button {
	padding: 5px 15px;
	line-height: normal;
	background-color: #888;
	color: white;
	font-weight: bold;
	font-family: Arial;
	text-align: left;
	border: 0 none;
	cursor: pointer;
}

