.meta-head-bar {
	width: 100%;
}

div#content div.meta-meta-bar {
	padding: 3px;
	margin: 22px 2px 5px 0px;
	border-bottom: 1px solid #666;
}

div.meta-head-bar div#head-bar-title {
	margin-bottom: 5px;
	float: left;
}

div.meta-head-bar div#head-bar-reviewstate {
	float: right;
	font-size: 10px;
	padding: 10px 5px 0px 0px;
}

div.meta-head-bar span.head-bar-emph {
	font-size: 18px;
	background-color: #aaa;
	color: #ffffff;
	margin: 2px;
	padding: 2px 3px 1px 3px;
}



div.details-container .field-label {
	font-weight: bold;
	color: #333;
}


div.translation {
	font-size: 12px;
	font-weight: normal;
	margin: 5px;
}

div.translation.fr {
	font-style: italic;
}

div.lemma-type {
	margin: 8px;
	font-size: 11px;
	font-style: italic;
	color: #444;
}

div.details-container td {
	width: 50%;
	vertical-align: top;
}

div.details-container td.relations td {
	margin: 0;
	padding: 0;
	vertical-align: top;
	border-top: 1px solid #aaa;
}


div.details-container .relations .relation-predicate {
	font-style: italic;
	text-align: right;
}

div.details-container .relations .relation-related {
	text-align: left;
}

div.details-container .relations .relation-related ul {
	margin: 0;
	padding: 0px 5px;
	list-style: none;
}

