.word_class {
	font-weight: 100;
}
.translation {
	font-weight: 600;
}
.bibliography {
	font-style: italic;
}

.pagination {
		display: inline-block;
		padding: 10px 20px;
}
.pagination a {
		color: black;
		padding: 8px 16px;
		text-decoration: none;
}
.pagination a.active {
		background-color: #4CAF50;
		color: white;
}

