/*!
 * TLA - styles
 */


.container {max-width: 85%!important;}


/* Typography */

@font-face {
		font-family: BBAWLibertine;
		src: url(../font/BBAWLibertine_ah.ttf);
}

a, p, h1, h2, h3, ul, li {
	font-family: "roboto", arial, sans-serif;
	font-weight: 400;
	margin-bottom: 0.2rem;
	}
	
a {color:red;}	
a:hover {
	text-decoration: none;
	color:red;	
	}
	
hr {
    border-top: 2px solid #EEE;
}

.bbaw-libertine {font-family: "BBAWLibertine", serif;}	

.searchresult h2 {
  font-weight: medium;
  color: #FFF;
  text-decoration: none;
}

.align-right {text-align: right;}


/* Navbar */

.navbar {
	-webkit-box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.17);
-moz-box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.17);
box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.17);
	}
.navbar-light a {font-weight: bold;}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: red;
}
a.navbar-brand {
	font-weight: bold;
	font-size: 1.5rem;
	color: white!important;
	padding: 10px;
	background-color: red;
	}
	
.breadcrumb {
    background-color: #FFF;
	padding: 1rem 0rem;
	margin-bottom: 0;
	}

.breadcrumb a{
      color: #CCC;	  
	}

/* Content - Trefferliste */

.container.content {margin-top: 4.5rem!important;}
.searchresult {
	padding: 10px;		
	}
.result {
	padding: 0.2rem 0.5rem;
	}

.search-entries {
	padding: 10px;
	border-bottom: 2px solid #EEE;
	}
	
.search-entries .result h2 mark{
	color: white!important;
	background-color: #CCC;
	}
.search-entries.detail .result h2 mark {
	color: white!important;
	background-color: #888;
	}
.result-list-item h2 {
	display: inline-block;	
	}
.result-list-item:hover{
   
	cursor: pointer;
	}
.result-list-item:hover h2 .hieroglyph .res{
    background-color: white;	
	}
.result-list-item h2.word .svg-inline--fa{
    display: inline-block;
    font-size: 16px;
    height: 1em;
    margin-left: 0.5rem;
    color: grey;
	vertical-align: -.05em;
	}
.result-list-item h2:hover .svg-inline--fa{
    color: white;
	}
.result-list-item a.result-list-bibliography{
	padding: 3px 1px 3px 10px;
    margin-left: -9px;
	}
	
.result-list-item a.result-list-bibliography:hover{
    color: white;
	background-color: red;
	cursor: pointer;
	}		
.result-list-item a.result-list-bibliography .svg-inline--fa{
    margin-left: 0.5rem;
    color: grey;
	vertical-align: -.1em;
	}	
.result-list-item a.result-list-bibliography:hover .svg-inline--fa{
	color: white;
	}
	
.result-list-item.notok {
	color: #A9A9A9;
	}

.result-list-item.successor  {opacity: .4;}
.result-list-item.successor  h2 {color: #333;}
	
.result-entries p {
	font-size: 1.5em;
	}

.result-list-item:first-child, .occ-list-item:first-child  {
		border-top: 2px solid #BBB;
	 }

.occ-list-item  {
		border-bottom: 2px solid #BBB;
	 }

.result-bg {
    padding: 0px 6px 1px;	
    }

.result-bg:hover, .bg-grey {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.1+0,0+100 */
	background: -moz-linear-gradient(left, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
	}
.result-list-item h2{	
	color: red;
	font-size: 1.4em;
	}
.result-list .indent-1{
	padding-left: 4em;
	}
.result-list .indent-2{
	padding-left: 8em;
	}
.result-list .indent-3{
	padding-left: 12em;
	}

.red-status .svg-inline--fa.ok, .red-status.ok {
	color: green!important;
	}
.red-status .svg-inline--fa.pending {
	color: orange!important;
	}
.red-status .svg-inline--fa.notok {
	color: red!important;
	}

a.share-results {color: grey!important;}
a.share-results:hover {color: red;}

.result-list-item .occ-tok.highlight-1 {
	background-color: red;
	color: white;
}
.result-list-item .occ-tok.highlight-2 {
	background-color: grey;
	color: white;
}
.corpus-path-element a {
	color: grey!important;
}
.corpus-path-element a:hover {
	color: red!important;
}

a span.lc {
	font-weight: 500!important;
    color: grey!important;
}
a span.lc:hover {
	color: red!important;
}
.result-list-item img.occ-tok-glyphs.highlight-1,
.result-list-item canvas.res.occ-tok-glyphs.highlight-1 {
	border: 1px solid red;
	border-radius: 2px;
}
/*.occ-list-item img.occ-tok-glyphs.highlight-1,
.occ-list-item canvas.res.occ-tok-glyphs.highlight-1 {
	border: 1px solid red;
	border-radius: 2px;
}*/
.occ-list-item .highlight-1 {
	border: 1px solid red;
	border-radius: 2px;
}

.occ-list-item .translation-de,
.occ-list-item .translation-en,
.occ-list-item .translation-fr,
.occ-list-item .glossing {
    font-size: 0.8em;
}


.result-list-item span.glyphbox img{
}
.result-list-item span.glyphbox img:hover {
	border-bottom: 1px solid red;
}

.result-list hr {margin:0!important;}


/* -- Annotations / Occurencies-Trefferliste --*/

.container-annotation-switch {display: block;}
.container-annotation {
    display: flex;
    flex-flow: row wrap;    
    }

ul.annotation-block  {   
    padding: 0;
    text-align: center;
    margin: 0 .5em 1em 0!important;
    border-bottom: 1px solid #aaa;
    }
ul.annotation-block:hover {   
    background-color: #EEE;
    cursor: pointer;
    }
.annotation-block.active {
    background-color: #aaa;
    opacity: .75;
}
.annotation-block.active:hover {
    opacity: 1;
    background-color: red;
}
.annotation-block.active li{
    color: white!important;
    border-bottom: 1px solid white;
}
.annotation-block.active li res{
    color: white!important;
}

ul.annotation-block li {
    border-bottom: 1px solid #aaa;
    padding: .2em .5em;
    list-style: none;
    }
ul.annotation-block li:last-child {
    border-bottom: 0;
    }
.annotation-block .transcription {
    font-family: "BBAWLibertine", serif;
    font-size: 1.2em;
    color: red;
}

.annotation-block .word-class  {
    font-style: italic;    
}

.annotation-block .grammar, .part-of-speech  {
    color: grey; 
    font-size: .85em;
}

.word-id  {
    color: grey; 
    font-size: .65em;
}

p.translation-de span  {
    font-weight: 500;    
}

.translation .result-list-bibliography {
    font-weight: 100!important; 
}

/*.word-class {float: left;}*/

.word-class-type {
    font-style: italic;
    font-weight: 100;
}
.word-class-subtype {
    font-weight: 100;
    font-family: "Roboto Condensed"
}

/*.translations {display:block;}*/

/* Pagination */
.pag-container {
	border-top: 2px solid #DDD;
	
	}


/* OffCanvas Sidebar */

#sidebar {
  position: absolute;
  width: 220px;
  background-color: white;
  padding: 0;
  z-index: 20;
  display: none!important; }

  @media only screen and (max-width: 760px) {
    #sidebar {
      width: 98%; } 
    }


	
/* Content - Detailseite */

.show-info-button span.fas{
	margin-left: 1rem;
	font-size: 18.5rem;
	color: grey;}
	
.btn:focus {
    box-shadow: 0;
}
.accordion .btn-link:focus {
    text-decoration: none;
	}

.details-content .row {
	margin: 0!important;
	}
.details-content .row div{
	padding: 1rem 0!important;
	
	}
.details-content .content-field {
	border-bottom: 2px solid #EEE!important;
	padding-top: 1rem;	
	}
.comment.content-field {
	border-bottom: 0!important;
	}
.details-content p.relations span{
	font-style: italic;
	font-weight: bold;
	padding-left: .5rem;
	}

/* Citation */
.citation {  
    padding: 1em;    
}
.citation li, .citation button {
    font-size: .75em;    
}


/* Search */

.global-search .btn-danger {
	margin-top: 1.95rem!important;
	}	
.global-search .btn-danger {
	margin-top: 0!important;
	}
	
.card {border: 0;}
.card-header {
    padding: 0;
    margin-bottom: 0;
    background-color: white;
    border-bottom: 2px solid #DDD;
}
.card-header h2 .btn-link {
    font-weight: 400;
	font-size: 1.2rem;
    color: red;    
}
.card-header h2 .btn-link:hover {
    text-decoration: none;   
}

/* Forms */
.form-check-input {margin-top: 7px;}
.search .form-group {
    margin-bottom: 1rem;
    margin-left: 0;
    padding: 1rem 0;
}
.search .form-check-inline {
    margin-right: 2rem;
}
/* Sidebar */

.btn-secondary{
    color: white;
	}
.btn-light {
	background-color: white;
	color: grey;
	border: 0;
	}
.btn-red {
	color: red;
	background-color: white;
	}
.btn-red:hover {
    color: white;
    background-color: red;
}

.solo-icon {padding: .2em .2em .2em .6em;
            }

.svg-inline--fa{
	margin-right: 0.5rem;
	vertical-align: -.1em;
	}
.id {
	font-weight: bold;
	padding: 1rem;
	background-color: #CCC;
	color: white;}
/*.details-content  .btn-block+.btn-block {
    margin-top: 0!important;
}	*/

/* Show/Hide */

.hide {display: none;}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 23px;
    }
	
/*  --- headroom --- */
.headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .2s ease-in-out;
	z-index: 1200;}
.headroom--unpinned {
	top: -100px;
	display: none; /* dirty hack for now because top property does not seem to apply */
}
.headroom--pinned {top: 0;}
.headroom--pinned > .sticky-top {
       top: 90px;}

/*
.headroom, .page-head {
  will-change: transform;
  transition: transform 200ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--pinned .page-head {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}

/*
.headroom--top {
	.page-head {transform: translateY(-100%)}

	}

/* buttons */

.content .dropdown {
    margin: .5rem 0;
}
.dropdown-menu {
    width: 100%;
}

/* multiselect */

span.multiselect-native-select {
 position:relative
}
span.multiselect-native-select select {
 border:0!important;
 clip:rect(0 0 0 0)!important;
 height:1px!important;
 margin:-1px -1px -1px -3px!important;
 overflow:hidden!important;
 padding:0!important;
 position:absolute!important;
 width:1px!important;
 left:50%;
 top:30px
}
.multiselect-container {
 position:absolute;
 list-style-type:none;
 margin:0;
 padding:0
}
.multiselect-container .input-group {
 margin:5px
}
.multiselect-container>li {
 padding:0
}
.multiselect-container>li>a.multiselect-all label {
 font-weight:700
}
.multiselect-container>li.multiselect-group label {
 margin:0;
 padding:3px 20px 3px 20px;
 height:100%;
 font-weight:700
}
.multiselect-container>li.multiselect-group-clickable label {
 cursor:pointer
}
.multiselect-container>li>a {
 padding:0
}
.multiselect-container>li>a>label {
 margin:0;
 height:100%;
 cursor:pointer;
 font-weight:400;
 padding:3px 20px 3px 40px
}
.multiselect-container>li>a>label.radio,
.multiselect-container>li>a>label.checkbox {
 margin:0
}
.multiselect-container>li>a>label>input[type=checkbox] {
 margin-bottom:5px
}
.btn-group>.btn-group:nth-child(2)>.multiselect.btn {
 border-top-left-radius:4px;
 border-bottom-left-radius:4px
}
.form-inline .multiselect-container label.checkbox,
.form-inline .multiselect-container label.radio {
 padding:3px 20px 3px 40px
}
.form-inline .multiselect-container li a label.checkbox input[type=checkbox],
.form-inline .multiselect-container li a label.radio input[type=radio] {
 margin-left:-20px;
 margin-right:0
}

/* lemma-relations */

.lemma-rel {
    position: absolute;    
    margin: .62em 0 0 -3.8em;
    font-style: italic;
    font-size: .9em;
    color: grey;
    }

.copy-to-clipboard-btn {
	/**/
}

.root:before {content: "Root";}
.rootOf:before {content: "Root of";}
.predecessor:before {content: "Pred.";}
.successor:before {content: "Succ.";}     
.referencing:before {content: "Now";}
.referencedBy:before {content: "Prev.";}
.composedOf:before {content: "Part";}
.composes:before {content: "Part of";}
.contains:before {content: "Part";}
.partOf:before {content: "Part of";}
